# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# logs
logs/
*.log
npm-debug.log*

# runtime
dist/
build/

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# coverage
coverage/

# misc
*.pid
*.seed